<div class="single-post">
    <div class="post-favorite">{{favorite_count}}<i class="fas fa-star favorite" data-id="{{id}}"></i></div>
    <div class="post-header">
        <div class="post-date">Posted by {{user.username}} on {{format_date created_at}}</div>
        
    </div>
    <div class="title">{{post_title}}</div>
    <div class="post-body">{{post_text}}</div>
</div>